@import "./../../styles/variables";

.dashboard {
  height: calc(100vh - 90px);
  grid-column: 1 / -1;
  overflow: hidden;

  &__wrapper {
    width: 1470px;
    margin: 0 auto;

    @media only screen and (max-width: 1536px) {
      width: 980px;
    }
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-Playfair;
    margin: 50px 0;

    @media only screen and (max-width: 1536px) {
      margin: 20px 0;
    }
  }

  &__description-wrapper {
    width: 1470px;
    margin: 0 auto;

    @media only screen and (max-width: 1536px) {
      width: 980px;
    }
  }

  &__description {
    border: 1px solid $color-black;
  }

  &__content {
    overflow-y: auto;
    height: calc(100vh - 90px);
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-family: $font-Playfair;
    font-size: 10.4rem;
    line-height: 10.4rem;
    text-transform: uppercase;

    @media only screen and (max-width: 1536px) {
      font-size: 7rem;
      line-height: 7rem;
    }

  }
}

.description {
  &__title {
    margin: 0;
    font-size: 20px;
    font-family: $font-Playfair;
    border-bottom: 1px solid $color-black;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    position: relative;
    text-transform: capitalize;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 10px;
      height: 1px;
      width: 200px;
      background: $color-black;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 20px;
      height: 1px;
      width: 100px;
      background: $color-black;
    }
  }

  &__text {
    margin: 16px;
    padding: 0;
    text-align: justify;
    font-family: $font-Crimson;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    column-count: 2;
    column-gap: 48px;
  }

  &__img-content {
    margin: 16px;
    padding: 0;
  }
}