@import './../../../styles/variables';

.article {
  grid-row: 1 / 3;
  grid-column: 2;
  background: $color-white;
  border: 1px solid $color-black;
  -webkit-perspective: 1;

  &__body {
    margin: 10px;
    height: 465px;
    width: 705px;
    border-top: 3px dotted $color-black;
    border-bottom: 3px dotted $color-black;
    padding-bottom: 10px;

    > h2 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      font-weight: 900;
      text-transform: capitalize;
    }

    > div {
      column-count: 2;
      column-gap: 10px;
    }

    p {
      margin: 0;
      text-indent: 15px;
      text-align: justify;
      font-family: 'Crimson Text', serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
    }
    
  }
}

.highlighted {
  background: $color-orange-400;
  border: 1px solid $color-orange-400;
}

.dummy {
  margin: 10px 0 10px 10px; 
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 10px;
  --widthA: calc(100vh - 625px);
  height: calc(var(--widthA) / 2);

  &__content {
    background-image: linear-gradient(
      0deg,
      $color-white 10%,
      $color-grey-200 10%,
      $color-grey-200 50%,
      $color-white 50%,
      $color-white 60%,
      $color-grey-200 60%,
      $color-grey-200 100%
    );
    background-size: 50px 50px;
  }
  
  &__img {
    background: $color-grey-200;
  }
}
