@import './../../../styles/variables';

.code {
  position: relative;
  background: $color-blue-300;
  border: 1px solid $color-black;
  padding: 22px 16px 22px 47px;

  &__numbers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: right;
    padding: 22px 5px;
    background-color: $color-green-600;
    color: $color-black;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;

    &--highlight {
      color: $color-white;
    }
  }

  &__focus {
    &:hover {
      > .code__after, >.code__before {
        color: $color-green-600;
      }
      > .code__textarea {
        background-color: white;
      }
    }
  }

  &__before, &__after {
    margin: 0;
    color: $color-black;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
  }

  &__textarea {
    width: 100%;
    padding: 2px 13px;
    margin-bottom: 4px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: $color-white;
    vertical-align: middle;
  }

  &__button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 144px;
    height: 40px;
    background-color: $color-orange-400;
    color: $color-black;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 900;
    border: 1px solid $color-black;
    box-shadow: -3px -3px $color-black;
    cursor: pointer;

    &:hover {
      filter: brightness(80%);
    }
  }
}