@import "~/styles/variables";

.code {
  position: relative;
  background: $color-blue-300;
  border: 1px solid $color-black;
  padding: 22px 16px 22px 47px;

  &__numbers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: right;
    padding: 22px 5px;
    background-color: $color-green-600;
    color: $color-black;
    font-family: $font-Source;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    list-style-type: none;
    margin: 0;

    &--highlight {
      color: $color-white;
    }
  }

  &__focus {
    padding-right: 15px;
    &:hover {
      > .code__after,
      > .code__before {
        color: $color-green-600;
      }
      > .code__textarea {
        background-color: white;
      }
    }
  }

  &__before,
  &__after {
    margin: 0;
    color: $color-black;
    font-family: $font-Source;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
  }

  &__textarea {
    width: 100%;
    margin-left: 15px;
    padding: 2px;
    font-family: $font-Source;
    font-size: 16px;
    font-weight: 700;
    background-color: $color-white;
    vertical-align: middle;
    border: 1px solid $color-black;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    line-height: 24px;

    &:focus-visible {
      outline-color: $color-green-600;
    }

    &--error {
      &:focus-visible {
        outline-color: $color-red-400;
      }
    }


  }

  &__input {
    width: 100%;
    margin-left: 15px;
    padding: 2px;
    font-family: $font-Source;
    font-size: 16px;
    font-weight: 700;
    background-color: $color-white;
    vertical-align: middle;
    border: 1px solid $color-black;
    &:focus-visible {
      outline-color: $color-green-600;
    }

    &--error {
      &:focus-visible {
        outline-color: $color-red-400;
      }
    }
  }

  &__button {
    position: absolute;
    right: 16px;
  }
}
