@import './../../../styles/variables';

.instructions {
  background: $color-grey-300;
  border: 1px solid $color-black;
  box-shadow: -5px -5px $color-grey-450;

  &__header {
    display: flex;
    height: 48px;
    border-bottom: 1px solid $color-black;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 10px;
  }

  &__lines {
    width: 30%;
    height: 50%;
    margin-top: auto;

    &--100 {
      width: 100%;
      height: 10px;
      border-top: 1px solid $color-black;
    }

    &--50 {
      width: 50%;
      height: 10px;
      border-top: 1px solid $color-black;
      margin-left: auto;
    }
  }

  &__chapter {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 900;
  }

  &__separator {
    padding: 0 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
  }

  &__level {
    text-transform: lowercase;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 900;
  }

  &__content {
    padding: 13px 10px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    line-height: 28px;
  }

  &__keyword {
    font-family: 'Source Code Pro', monospace;
    background: $color-grey-400;
  }
}