@import './../../../styles/variables';

.css-press-news {
  position: absolute;
  left: calc(50vw - 450px);
  top: calc(50vh - 500px);
  height: 1000px;
  animation: news 3s ease-in;
  animation-fill-mode: forwards;

  @media screen and (max-height: 1080px) {
    top: 5vh;
    height: 90vh;
  }

  @media screen and (max-height: 900px) {
    left: calc(50vw - 205px);
  }

  @media screen and (max-height: 768px) {
    left: calc(50vw - 100px);
  }


  &--dark {
    box-shadow: 0 0 0 100dvw $color-overlay;
    backdrop-filter: blur(1px);
  }

}

@keyframes news {
  0% {
    rotate: 0deg;
    scale: 0;
  }

  80% {
    rotate: 3turn;
    scale: 1;
    translate: 0 0;
  }

  100% {
    translate: calc(50vw - 500px);
    rotate: 3turn;
  }
}