@import './../../styles/variables';
@import "./../../styles/Utils";

.game {
    padding: 15px 15px 0 15px;
    display: grid;
    grid-template-columns: minmax(auto, 728px) 728px;
    grid-column-gap: 15px;
    grid-template-rows: calc(50% - 15px) calc(50% - 15px);
    grid-row-gap: 15px;
    justify-content: center;
    @include main;

    @media only screen and (max-height: 864px) {
        grid-template-rows: calc(45% - 15px) calc(55% - 15px);
    }

    @media only screen and (max-height: 768px) {
        grid-template-rows: calc(40% - 15px) calc(60% - 15px);
    }
}
