// Colors
$color-orange-400: #f78d2f;
$color-blue-300: #c2d8d5;
$color-green-600: #376760;

$color-grey-500: #998e86;
$color-grey-450: #D0C6BD;
$color-grey-400: #d7d2c5;
$color-grey-300: #eadfd5;
$color-grey-200: #f0e8e1;

$color-black: #120904;
$color-white: #f4f2ea;