// Colors
$color-orange-400: #f78d2f;
$color-orange-300: #ffca9b;
$color-blue-300: #c2d8d5;
$color-green-600: #376760;

$color-grey-500: #998e86;
$color-grey-450: #d0c6bd;
$color-grey-400: #d7d2c5;
$color-grey-300: #eadfd5;
$color-grey-200: #f0e8e1;

$color-black: #120904;
$color-white: #f4f2ea;

$font-Crimson: "Crimson Text", serif;
$font-Source: "Source Code Pro", monospace;
$font-Playfair: "Playfair Display", serif;
